:root {
  --main-text-color: #000000;
  --description-color: #595959;
  --color-acsent: #1b8a0d;
  --contacts__link-color: rgba(255, 255, 255, 0.6);
  --sidebar-color: rgba(4, 54, 4, 0.986);
  --sidebar-text-color: #fff;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: rgb(228, 231, 228);
}

ul,
ol,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.main-conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content section */
.main-content-section {
  padding: 60px 80px;
  color: var(--main-text-color);
}

.main-section-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
/* .about-me */
.about-me {
  margin-bottom: 40px;
}
.about-me-profession {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.my-name {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}
.about-me-description {
  width: 500px;
  text-align: justify;
  font-size: 14px;
  line-height: 24px;
  color: var(--description-color);
}

/* .about-my-projects */
.my-projects {
  margin-bottom: 50px;
}
.my-projects-list {
  padding: 0 0 0 20px;
}
.my-projects-item {
  font-size: 14px;
  line-height: 24px;
}
.my-projects-item + .my-projects-item {
  margin-top: 10px;
}
.my-projects-text {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.my-projects-link {
  font-weight: normal;
  color: var(--color-acsent);
}
.my-projects-link:hover,
.my-projects-link:focus {
  font-size: 15px;
}
.my-projects-description {
  margin: 0;
}
/* my-work-experience/education */
.my-work-experience {
  margin-bottom: 50px;
}
.my-work-experience-company {
  margin: 15px 0 0;
}
.profession-name-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.work-name-title {
  color: var(--color-acsent);
}
.work-edution-period {
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.divider {
  color: var(--main-text-color);
}
.my-duties-list {
  padding: 0 0 0 20px;
}
.my-duties {
  font-size: 14px;
  line-height: 24px;
  color: var(--description-color);
}

/* my-education */
.my-education-wraper {
  margin-top: 15px;
}
.my-education-university {
  margin: 0;
  color: var(--color-acsent);
}
.my-education-profesion {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

/* sidebar section */
.sidebar {
  background-color: var(--sidebar-color);
  width: 370px;
  padding-bottom: 40px;
  color: var(--sidebar-text-color);
}
.my-contacts,
.skills-section {
  margin: 40px 0 0 40px;
}
.sidebar-section-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
/* contacts section */
.contacts-type {
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
}
.contacts-link {
  display: block;
  text-decoration: none;

  font-size: 14px;
  line-height: 24px;
  color: var(--contacts__link-color);
}
.contacts-link:hover,
.contacts-link:focus {
  font-size: 15px;
}

/* tech/soft skills section */
.tech-skills-lists {
  padding: 0 0 0 17px;
  font-size: 14px;
  line-height: 24px;
}
.skills-item {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.skills-item-text {
  color: var(--sidebar-text-color);
}
